$text-color: #252B42;
$secondary: #F3CD03;
$dark-background-color: #26335D;
$light-gray-2: #ECECEC;
$light-text-color: #FFFFFF;
$secondary-color-2: #FFC652;
$light-background-color: #FFFFFF;
$danger-color: #E74040;
$primary-color: #FF6551;
$second-text-color: #737373;
$primary-text-color: #FF6551;
$muted-color: #BDBDBD;
$secondary-color-1: #2435A1;
$danger-text-color: #E74040;
$disabled-element-color: #8EC2F2;
$alert-color: #E77C40;
$success-color: #2DC071;
$faded-secondary-color-2: #B6D7FF;
$secondary-text-color-2: #FFC652;
$faded-secondary-color-1: #DDEEFE;
$faded-primary-color: #F9FDFF;
$light-text-gray-2: #ECECEC;
$secondary-text-color-1: #2435A1;
$success-text-color: #2DC071;
$hover-color: #2A7CC7;
$light-gray-1: #FAFAFA;
$alert-text-color: #E77C40;
$hover-text-color: #2A7CC7;
$disabled-element-text-color: #8EC2F2;
$muted-text-color: #BDBDBD;
$light-text-gray-1: #FAFAFA;

.main1 {
    width: 1440px;
    height: 1117px;
    background: var(--light-background-color, #FFF);
}
.background sec{

}